.custom-card {
    border: 1px solid rgba(26, 96, 104, 1);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.title {
    font-size: 1.5em;
    color: rgba(26, 96, 104, 1);
    text-align: center;
    margin-bottom: 20px;
}

.body-text {
    font-size: 1.2em;
    line-height: 1.6;
    color: black;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.5em;
    color: rgba(26, 96, 104, 1);
    margin-bottom: 20px;
    text-align: center;
}

.custom-container {
    margin-top: 40px;
    margin-bottom: 80px;
}

.custom-accordion .MuiAccordionSummary-root {
    background-color: white;
    color: black;
}

.custom-accordion .MuiAccordionDetails-root {
    background-color: white;
    color: black;
    overflow-y: auto; /* Enable scrolling only when expanded */
    max-height: 200px; /* Adjust max height as needed */
    padding: 16px; /* Add padding for content */
}
