.footer-wrapper {
  background: #d5e6df; /* צבע הרקע */
  padding: 60px 0 20px;
  color: rgba(26, 96, 104, 1); /* צבע הטקסט */
  border-top: none;
  position: relative; /* עמדה רגילה */
  bottom: 0; /* מרחק מהתחתית */
  width: 100%; /* רוחב מלא */
}

/* להוסיף סגנונות נוספים כפי שנדרש */

.footer-content {
  display: flex;
  flex-wrap: nowrap; /* למנוע גלילה */
  justify-content: space-around; /* להוסיף רווח בין העמודות */
  padding: 0 20px;
  width: 100%;
}

.column {
  flex: 1;
  min-width: auto;
  text-align: center;
  min-height: auto;
  margin-bottom: 20px; /* להוסיף רווח בתחתית */
}

.column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.column ul,
.column form,
.column div {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.column li {
  margin-bottom: 20px; /* להגדיל את הרווח בין השורות */
}

.column a {
  color: rgba(26, 96, 104, 1); /* שינוי צבע הטקסט ל-rgba(26, 96, 104, 1) */
  text-decoration: none;
  transition: color 0.3s;
}

.column a:hover {
  color: #82a7a3; /* שינוי הצבע בעת העטיפה לצבע בהיר יותר */
}

.logo-wrapper {
  text-align: center;
}

.logo-wrapper img {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}

.copyright-wrapper {
  flex-basis: 100%; /* רוחב מלא */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.copyright {
  color: rgba(26, 96, 104, 1); /* שינוי צבע הטקסט ל-rgba(26, 96, 104, 1) */
  font-size: 0.9em;
  text-align: center;
}
